<html>
  <head>
    <title>Daily Gist</title>
    <style>
      body { font-family: Arial, sans-serif; } h1 { color: #333; } .post { margin-bottom: 20px; } .post-title {
      font-weight: bold; color: #0066cc; } .post-body { margin-bottom: 10px; } .post-scores { font-size: 12px; color:
      #777; } .post-media { margin-bottom: 10px; } .post-links { margin-bottom: 10px; } .post-date { font-size: 12px;
      color: #777; }
    </style>
  </head>
  <body>
    <h1>Your Daily Gist</h1>
    {{#each posts}}
      <div class="post">
        <div class="post-title">{{title}}</div>
        <div class="post-body">{{body}}</div>
        <div class="post-scores">
          Significance:
          {{scores.significance}}
          | Relevance:
          {{scores.relevance}}
          | Impact:
          {{scores.impact}}
          | Novelty:
          {{scores.novelty}}
          | Reliability:
          {{scores.reliability}}
        </div>
        {{!-- <div class="post-media">
          {{#if media}}
            <h3>Media:</h3>
            {{#each media}}
              <a href="{{this}}">{{this}}</a><br />
            {{/each}}
          {{/if}}
        </div> --}}
        <div class="post-links">
          {{#if externalLinks}}
            <h3>External Links:</h3>
            {{#each externalLinks}}
              <a href="{{this}}">{{this}}</a><br />
            {{/each}}
          {{/if}}
        </div>
        <div class="post-source">Source: {{source}}</div>
        <div class="post-link">Link: <a href="{{link}}">{{link}}</a></div>
        <div class="post-date">Published At: {{publishedAt}}</div>
      </div>
    {{/each}}
  </body>
</html>